@import url("../../res/icons/icomoon-v1.0/style.css");

:root {
    --NEON-BLUE-BASE: 38 217 225;

    --BACKGROUND: rgb(4, 6, 13);
    --NEON-BLUE: rgb(var(--NEON-BLUE-BASE));
    --NEON-ORANGE: rgb(233 126 32);
}

body {
    overflow: hidden;
    margin: 0;
    height: 100%;
    width: 100%;
}

.Maximize {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.PulseEffect {
    animation: PulseEffect 1s ease infinite alternate;
}

.GUI {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 74% 24%;
    justify-content: space-evenly;
    align-items: center;

    overflow: hidden;

    color: var(--NEON-BLUE);
    font-variant: small-caps;
    text-transform: capitalize;
    font-size: 100%;
    font-family: Verdana, sans-serif;

    background-color: var(--BACKGROUND);
}

.Tooltip {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: default;
    background-color: inherit;
    border: 1px solid var(--NEON-BLUE);
    padding: 0.1rem 0.2rem;
    box-shadow: 0 0 2px 2px rgba(var(--NEON-BLUE-BASE) / 0.5);
}
.Tooltip.Visible {
    animation: ShowTooltip 0.5s linear 1s forwards;
}
.Tooltip p {
    margin: 0;
}

.Visualization, .Evaluation {
    height: 100%;
    display: grid;
    grid-auto-flow: row;
    align-content: space-evenly;
}
.Visualization {
    grid-auto-rows: 88% 8%;
}
.Evaluation {
    grid-auto-rows: 8% 88%;
}

.Sci-Fi-Border {
    background-clip: padding-box;
    outline-offset: -5px;
    outline: rgba(var(--NEON-BLUE-BASE) / 0.3) solid 1px;
    background-color: var(--BACKGROUND);
    border-inline-start: 5px solid;
    border-block-start: 5px solid;
    border-inline-end: 5px solid;
    border-block-end: 5px solid;
    border-image-slice: 1;

    filter: drop-shadow(rgba(var(--NEON-BLUE-BASE) / 0.5) 0px 0px 3px);
}
.Visualization .Sci-Fi-Border {
    border-image-source: linear-gradient(165deg, var(--NEON-BLUE), transparent 10%, transparent 90%, var(--NEON-BLUE) 100%);
}
.Evaluation .Sci-Fi-Border {
    border-image-source: linear-gradient(130deg, var(--NEON-BLUE), transparent 10%, transparent 90%, var(--NEON-BLUE) 100%);
}

.Visualization .Renderer {
    position: relative;
}
.Visualization .Renderer .StartSimulationHint {
    margin: 0%;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    font-size: 2.5vw;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    white-space: nowrap;
    cursor: default;
    opacity: 1;
    transition: opacity 0.5s;
}
.Visualization .Renderer .StartSimulationHint.Hidden {
    opacity: 0;
}

.Visualization .Controls,
.Evaluation .Menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: default;
}
.Visualization .Controls {
    gap: 2rem;
    padding: 0 2rem;
}
.Visualization .Controls .TimePassed {
    flex-grow: 1;
}

button.Icon {
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 2rem;
    color: var(--NEON-BLUE);
    cursor: pointer;
}
button.Icon.Active {
    color: var(--NEON-ORANGE);
}
button.Icon:hover {
    color: var(--NEON-ORANGE);
}

.Icon.Play {
    font-size: 2.4rem;
}
.Icon.Finish {
    font-size: 1.8rem;
}

.Controls span {
    font-size: 1.5rem;
    text-transform: lowercase;
}
.Controls .SpeedFactor::before {
    content: "x";
}

/* TODO must be veritcal scrollable, NOT horizontal */
.PanelGroup {
    position: relative;
}
.Panel {
    --GAP: 1rem;
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 2 * var(--GAP));
    height: 100%;
    display: none;
    flex-flow: column;
    gap: var(--GAP);
    padding: var(--GAP);
}
.Panel.Active {
    display: flex;
}

@keyframes PulseEffect {
    from { scale: 0.8; }
    to { scale: 1.2; }
}

@keyframes ShowTooltip {
    from { opacity: 0; }
    to { opacity: 1; }
}